<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="/images/fingerprint.png" class="d-block mx-lg-auto img-fluid" width="auto" height="auto" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3" style="font-size: medium;"><%= root.prefix %></h1>
      <p class="lead">
        Designed to make work easier and not to make money
        <div class="text-danger">
          100% Open Source
        </div>
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/jwt" class="btn btn-primary btn-lg px-4 me-md-2">JSON Web Token<br><div class="text-danger">RFC 7519</div><br>Crypto Algorithm</a>
        <a href="/session" class="btn btn-primary btn-lg px-4 me-md-2">Session<br><div class="text-danger">Secret Key</div><br>Crypto Algorithm</a>
        <a href="/password" class="btn btn-primary btn-lg px-4 me-md-2">Password Hasher<br><div class="text-danger">Database</div><br>Bcrypt Algorithm</a>
      </div>
    </div>
  </div>
</div>