<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %> 
<body>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/hero_heading.ejs') %>
    <%- include('./partials/pages/session_inner.ejs') %>  
</body>
</html>